.details_info {
  display: flex;
  flex-direction: row;
}

.main_img {
  flex: 1;
  justify-content: center;
  align-items: center;
}

.main_img img {
  width: 50%;
  height: auto;
  padding-top: 20px;
}

.details_images {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20px;
  margin-right: 20px;
}

.image_list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-left: 10px;
}

.image_list li {
  margin-bottom: 20px;
}

.image_list li img {
  width: 100px;
  height: auto;
}

.image_and_details {
  display: flex;
  flex-direction: column;
}
