.details_info {
  display: flex;
  flex-direction: column;
}

.main_img {
  flex: 1;
}

.main_img img {
  width: 50%;
  height: auto;
}

.details_images {
  margin-top: 20px;
}

.image_list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
  flex-wrap: wrap;
}

.image_list li {
  margin-right: 20px;
  margin-bottom: 20px;
}

.image_list li img {
  width: 100px;
  height: auto;
}
