.card {
  max-width: 200px;
  width: calc(33.33% - 20px); /* Set width for each card, considering margins */
  margin: 0px;
  padding: 9px;
  box-sizing: border-box;
  /* border: 1px solid black; */
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0);
}

.card:hover {
  border-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.card img {
  border: 1px solid black;
}

.card-link:visited {
  color: inherit; /* Set the color to inherit to prevent color change */
}
