.header {
  display: flex;
  font-family: "Cormorant", serif;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  background-color: #fafafa;
}

.header .title-container {
  display: flex;
  align-items: center;
  margin-top: 0px;
  margin-right: 40px;
  margin-left: 20px;
  padding: 0;
}

.googz {
  margin-top: 0px;
  height: 80px;
}

.utility-menu {
  padding: 0;
  margin: 10px 0;
}

.utility-menu a {
  padding: 2px;
  text-decoration: none;
}

.utility-menu a:hover {
  color: aqua;
}

.h2 {
  margin: 0;
}

.icons-bar {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
}

.icons-bar svg {
  font-size: 20px;
  margin-right: 5px;
  margin-left: 10px;
  vertical-align: super;
}

.icons-bar .cart-link {
  margin-top: 10px;
}

.cart-link a {
  color: black;
  text-decoration: none;
}

.cart-link a {
  color: black;
  text-decoration: none;
}

.cart-link a:hover .cart-icon {
  color: aqua;
}

.cart-icon {
  font-size: 24px;
}

.cart-link a:hover {
  color: aqua;
}
